:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  justify-content: left;
  justify-items: left;


}

.menuitems {
  height: 60px;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}


.leftcomponent {
  border-right: 2px solid white;
  height: 99vh;
  width: 20%;
  font-size: 18px;
}

.menuitems:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.menu {
  justify-content: center;
  align-items: center;
}

.icon {
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  padding-top: 22px;
  padding-left: 40px;
}

.profilecard {

  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.details h6 {
  margin: 0;
  padding: 0;
}

.details p {
  margin: 0;
  padding: 0;
}


.profileicon {
  border-radius: 100%;
  margin-right: 12px;
}

.post_btn {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 90%;
  background-color: aliceblue;
  color: #242424;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  border-radius: 32px;
  display: flex;
  cursor: pointer;
}